.App {
}


.HeaderImage {
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.NavigationFrame {
  background-color: none;
  display: flex;
  flex-direction: row;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 6vw;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  max-width: 700;
  z-index: 3;
}

.NavigationLink {
  color: white;
  flex: none;
}

.BodyFrame {
  color: white;
  background-color: black;
  font-family: 'IM Fell English', serif;
  font-size: calc(13px + 1vw);;
  height: auto;
  padding: 3px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 4;
}

.BodyNewsImage {
  width: 100%; 
}

@media screen and (min-width: 950px) {
    .BodyFrame {
      font-size: calc(8px + 1vw);;
    }
    .NavigationFrame {
      font-size: 4vw;
    }
}

@media screen and (min-width: 1400px) {
    .BodyFrame {
      font-size: calc(6px + 1vw);;
    }
    .NavigationFrame {
      font-size: 2vw;
    }
}

@media screen and (min-width: 1700px) {
    .BodyFrame {
      font-size: calc(4px + 1vw);;
    }
}
